SELENIUM_WEB_DRIVER_PATH="REPLACE_WITH_ACTUAL_VALUE"
OPENAI_API_KEY="REPLACE_WITH_ACTUAL_VALUE"
DOTS_OCR_API_KEY="suz-Gi16K7TMSqpVCFxr6cGoH9L5xKwOojoi"
DOTS_OCR_BASE_URL="https://ai.soziologie.uzh.ch/v1"